* {
  margin: 0;
  padding: 0;
  background: #003c8f;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dad-joke {
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

h2 {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-self: center;
  align-items: center;
  align-content: center;
  color: #ffffff;
}

button {
  background: #1565c0;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  color: #ffffff;
  width: 120px;
  margin: 2rem auto;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  background: #5e92f3;
}

button:active {
  background: #1565c0;
}

p {
  color: #ffffff;
}
